<div class="container mt-5">
    <table class="table table-responsive table-bordered border-dark table-hover text-center text-capitalize">
        <thead>
            <tr class="table-dark table-active text-uupercase text-white">
                <th>Owner's Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Upload date</th>
                <th></th>
                <th></th>
        </tr>
    </thead>
    <tbody>
        @for (resume of resumes; track resume.id) {
            <tr>
                <td>{{resume.userId}}</td>
                <td>{{resume.name}}</td>
                <td>{{resume.status}}</td>
                <td>{{resume.uploadDate}}</td>
                <th>
                    <a class="btn btn-primary" [routerLink]="['/get-by-id', resume.id]">View resume</a>
                </th>
                <th>
                    <button class="btn btn-danger" (click)="deleteResume(resume.id, resume.userId)">Delete</button>
                </th>
            </tr>
        }
    </tbody>
</table>
</div>

