<div class="container">
    <div class="text">
        <h1 class="descriptions">Review & Score</h1>
        <h1>Resume Online</h1>
        <button routerLink="/upload-resume">CHECK RESUME</button>
        <div class="descripts">
            <h1>The Automated Resume Screening System</h1>
            <h1>is designed to streamline the recruitment process by</h1>
            <h1>efficiently evaluating and scoring resumes.</h1>
            <h1>This system aids Human Resources (HR) departments by</h1>
            <h1>quickly identifying qualified candidates,</h1>
            <h1>thereby saving significant time and resources.</h1>
        </div>
    </div>
    <div class="Resume-Image">
        <img src="assets/resume scrin.jpg" alt="">
    </div>
</div>