<div class="container mt-5">
    <table class="table table-responsive table-bordered border-dark table-hover text-center text-capitalize">
        <thead>
            <tr class="table-dark table-active text-uupercase text-white">
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user.id) {
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <th>
                    <a class="btn btn-primary">Set status</a>
                </th>
            </tr>
        }
    </tbody>
</table>
</div>

